@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;

}

.avatar {
    width: 200px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25) ;
}

.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

.info-text p {
    font-style: italic;
     margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

.info-text {
    margin-left: 20px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

.info a {
    display: inline;
    padding: 0 0 10px 0;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }
} 

.card h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.card {
    border-radius: 15px;
    background: #fff;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
    font-size: 18px;
}
    
.bg-blue {
    background: #BFDBF7;
}

.bg-pink { 
    background: #FFDAD6;
}

.btn {
    background: black;
    color: white;
    font-family: inherit;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 10px;
}

.btn:hover {
    opacity: .8;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color:gray
}

.list {
    padding: 0 20px;
}

.list li {
    color: black;
    font-weight: 500px;
    margin-bottom: 5px;
}

.table  {
    width: 100%;
}

.table td {
    padding-bottom: 5px;
    text-align: left;
    padding: 5px 10px;
}

.table td:first-child {
    padding-left: 0;
}

.table td:last-child {
    padding-right: 0;
}

.table thead {
    text-align: left;
}

@media (max-width: 650px) {
    .table {
        font-size: 0.85rem;
    }
    .list {
        font-size: 0.85rem;
    }
}

.form h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group{
    display: inline-block;
    margin-right: 20px;
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

@media (max-width: 650px) {
    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    
}